@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  min-width: 0;
}

input{
  color-scheme: dark;
} 

._root_2a8vt_1 {
  --rdp-accent-color: indigo;
  --rdp-background-color: gray;
}